* { 
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 44px 0 50px 76px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    
}

.link-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989D9C;
    cursor: pointer;
    margin-right: 23px;
}
.button-header {
    background: #665AE1;
    border-radius: 20.5px;
    width: 130px;
    height: 41px;
    border: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    cursor: pointer;
    color: #FFFFFF;
}

.logo-image {
    width: 468px;
    height: 400px;
    margin-left: 100px;
    margin-bottom: 50px;
    display: inline-block;
    max-width: 100%;
}

section {
    display: inline-block;
    margin-left: 90px;
}

h1 {
    font-weight: 500px;
    font-size: 100px;
    line-height: 100px;
    color: #515151;
}

h2 {
    font-weight: 200px;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
}

p {
    font-weight: 300px;
    font-size: 24px;
    line-height: 29px;
    color: #515151;
    width: 850px;
    margin-top: 30px;
    margin-bottom: 100px;
}

.button-main {
    background: #ADFF00;
    border-radius: 30px;
    width: 300px;
    height: 60px;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
}
 